In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.3'

In [2]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', dtype={"RatecodeID": "string"})

/tmp/ipykernel_20153/2257130100.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv.gz', dtype={"RatecodeID": "string"})

In [3]:
df.shape

(449063, 20)

In [4]:
dfz = pd.read_csv('taxi+_zone_lookup.csv')

dfz.shape

(265, 4)

In [5]:
dfz.columns

Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='object')

In [17]:
list(dfz.Zone.unique())

['Newark Airport',
 'Jamaica Bay',
 'Allerton/Pelham Gardens',
 'Alphabet City',
 'Arden Heights',
 'Arrochar/Fort Wadsworth',
 'Astoria',
 'Astoria Park',
 'Auburndale',
 'Baisley Park',
 'Bath Beach',
 'Battery Park',
 'Battery Park City',
 'Bay Ridge',
 'Bay Terrace/Fort Totten',
 'Bayside',
 'Bedford',
 'Bedford Park',
 'Bellerose',
 'Belmont',
 'Bensonhurst East',
 'Bensonhurst West',
 'Bloomfield/Emerson Hill',
 'Bloomingdale',
 'Boerum Hill',
 'Borough Park',
 'Breezy Point/Fort Tilden/Riis Beach',
 'Briarwood/Jamaica Hills',
 'Brighton Beach',
 'Broad Channel',
 'Bronx Park',
 'Bronxdale',
 'Brooklyn Heights',
 'Brooklyn Navy Yard',
 'Brownsville',
 'Bushwick North',
 'Bushwick South',
 'Cambria Heights',
 'Canarsie',
 'Carroll Gardens',
 'Central Harlem',
 'Central Harlem North',
 'Central Park',
 'Charleston/Tottenville',
 'Chinatown',
 'City Island',
 'Claremont/Bathgate',
 'Clinton East',
 'Clinton Hill',
 'Clinton West',
 'Co-Op City',
 'Cobble Hill',
 'College Point',
 'Columbia Street',
 'Coney Island',
 'Corona',
 'Country Club',
 'Crotona Park',
 'Crotona Park East',
 'Crown Heights North',
 'Crown Heights South',
 'Cypress Hills',
 'Douglaston',
 'Downtown Brooklyn/MetroTech',
 'DUMBO/Vinegar Hill',
 'Dyker Heights',
 'East Chelsea',
 'East Concourse/Concourse Village',
 'East Elmhurst',
 'East Flatbush/Farragut',
 'East Flatbush/Remsen Village',
 'East Flushing',
 'East Harlem North',
 'East Harlem South',
 'East New York',
 'East New York/Pennsylvania Avenue',
 'East Tremont',
 'East Village',
 'East Williamsburg',
 'Eastchester',
 'Elmhurst',
 'Elmhurst/Maspeth',
 "Eltingville/Annadale/Prince's Bay",
 'Erasmus',
 'Far Rockaway',
 'Financial District North',
 'Financial District South',
 'Flatbush/Ditmas Park',
 'Flatiron',
 'Flatlands',
 'Flushing',
 'Flushing Meadows-Corona Park',
 'Fordham South',
 'Forest Hills',
 'Forest Park/Highland Park',
 'Fort Greene',
 'Fresh Meadows',
 'Freshkills Park',
 'Garment District',
 'Glen Oaks',
 'Glendale',
 "Governor's Island/Ellis Island/Liberty Island",
 'Gowanus',
 'Gramercy',
 'Gravesend',
 'Great Kills',
 'Great Kills Park',
 'Green-Wood Cemetery',
 'Greenpoint',
 'Greenwich Village North',
 'Greenwich Village South',
 'Grymes Hill/Clifton',
 'Hamilton Heights',
 'Hammels/Arverne',
 'Heartland Village/Todt Hill',
 'Highbridge',
 'Highbridge Park',
 'Hillcrest/Pomonok',
 'Hollis',
 'Homecrest',
 'Howard Beach',
 'Hudson Sq',
 'Hunts Point',
 'Inwood',
 'Inwood Hill Park',
 'Jackson Heights',
 'Jamaica',
 'Jamaica Estates',
 'JFK Airport',
 'Kensington',
 'Kew Gardens',
 'Kew Gardens Hills',
 'Kingsbridge Heights',
 'Kips Bay',
 'LaGuardia Airport',
 'Laurelton',
 'Lenox Hill East',
 'Lenox Hill West',
 'Lincoln Square East',
 'Lincoln Square West',
 'Little Italy/NoLiTa',
 'Long Island City/Hunters Point',
 'Long Island City/Queens Plaza',
 'Longwood',
 'Lower East Side',
 'Madison',
 'Manhattan Beach',
 'Manhattan Valley',
 'Manhattanville',
 'Marble Hill',
 'Marine Park/Floyd Bennett Field',
 'Marine Park/Mill Basin',
 'Mariners Harbor',
 'Maspeth',
 'Meatpacking/West Village West',
 'Melrose South',
 'Middle Village',
 'Midtown Center',
 'Midtown East',
 'Midtown North',
 'Midtown South',
 'Midwood',
 'Morningside Heights',
 'Morrisania/Melrose',
 'Mott Haven/Port Morris',
 'Mount Hope',
 'Murray Hill',
 'Murray Hill-Queens',
 'New Dorp/Midland Beach',
 'North Corona',
 'Norwood',
 'Oakland Gardens',
 'Oakwood',
 'Ocean Hill',
 'Ocean Parkway South',
 'Old Astoria',
 'Ozone Park',
 'Park Slope',
 'Parkchester',
 'Pelham Bay',
 'Pelham Bay Park',
 'Pelham Parkway',
 'Penn Station/Madison Sq West',
 'Port Richmond',
 'Prospect-Lefferts Gardens',
 'Prospect Heights',
 'Prospect Park',
 'Queens Village',
 'Queensboro Hill',
 'Queensbridge/Ravenswood',
 'Randalls Island',
 'Red Hook',
 'Rego Park',
 'Richmond Hill',
 'Ridgewood',
 'Rikers Island',
 'Riverdale/North Riverdale/Fieldston',
 'Rockaway Park',
 'Roosevelt Island',
 'Rosedale',
 'Rossville/Woodrow',
 'Saint Albans',
 'Saint George/New Brighton',
 'Saint Michaels Cemetery/Woodside',
 'Schuylerville/Edgewater Park',
 'Seaport',
 'Sheepshead Bay',
 'SoHo',
 'Soundview/Bruckner',
 'Soundview/Castle Hill',
 'South Beach/Dongan Hills',
 'South Jamaica',
 'South Ozone Park',
 'South Williamsburg',
 'Springfield Gardens North',
 'Springfield Gardens South',
 'Spuyten Duyvil/Kingsbridge',
 'Stapleton',
 'Starrett City',
 'Steinway',
 'Stuy Town/Peter Cooper Village',
 'Stuyvesant Heights',
 'Sunnyside',
 'Sunset Park East',
 'Sunset Park West',
 'Sutton Place/Turtle Bay North',
 'Times Sq/Theatre District',
 'TriBeCa/Civic Center',
 'Two Bridges/Seward Park',
 'UN/Turtle Bay South',
 'Union Sq',
 'University Heights/Morris Heights',
 'Upper East Side North',
 'Upper East Side South',
 'Upper West Side North',
 'Upper West Side South',
 'Van Cortlandt Park',
 'Van Cortlandt Village',
 'Van Nest/Morris Park',
 'Washington Heights North',
 'Washington Heights South',
 'West Brighton',
 'West Chelsea/Hudson Yards',
 'West Concourse',
 'West Farms/Bronx River',
 'West Village',
 'Westchester Village/Unionport',
 'Westerleigh',
 'Whitestone',
 'Willets Point',
 'Williamsbridge/Olinville',
 'Williamsburg (North Side)',
 'Williamsburg (South Side)',
 'Windsor Terrace',
 'Woodhaven',
 'Woodlawn/Wakefield',
 'Woodside',
 'World Trade Center',
 'Yorkville East',
 'Yorkville West',
 'NV',
 nan]

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [11]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,1.702000,1.507000,3.279060,1.040000,159.673000,155.816000,1.445000,12.320780,1.099000,0.486500,1.77645,0.120850,0.294300,17.647330,2.167500
std,0.457608,1.053119,3.691814,0.374887,71.831747,76.560771,0.580786,10.555295,1.095627,0.105256,2.26366,0.846809,0.057453,11.799242,0.913251
min,1.000000,0.000000,0.000000,1.000000,4.000000,3.000000,1.000000,-41.500000,-0.500000,-0.500000,0.00000,0.000000,-0.300000,-45.300000,-2.500000
25%,1.000000,1.000000,1.107500,1.000000,100.000000,80.000000,1.000000,6.000000,0.500000,0.500000,0.00000,0.000000,0.300000,10.800000,2.500000
50%,2.000000,1.000000,2.075000,1.000000,161.000000,151.000000,1.000000,9.500000,0.500000,0.500000,1.50000,0.000000,0.300000,14.750000,2.500000
75%,2.000000,2.000000,3.860000,1.000000,234.000000,234.000000,2.000000,14.500000,0.500000,0.500000,2.82750,0.000000,0.300000,20.850000,2.500000
max,2.000000,6.000000,33.180000,5.000000,264.000000,265.000000,4.000000,104.500000,3.500000,0.500000,16.89000,8.410000,0.300000,114.420000,2.500000

In [5]:
df.shape

(1000, 18)

In [6]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_date'))

CREATE TABLE "yellow_taxi_date" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
pd.to_datetime(df.tpep_dropoff_datetime)

0     2021-01-01 00:36:12
1     2021-01-01 00:52:19
2     2021-01-01 01:11:06
3     2021-01-01 00:31:01
4     2021-01-01 00:48:21
              ...
995   2021-01-01 01:08:18
996   2021-01-01 00:31:34
997   2021-01-01 00:24:23
998   2021-01-01 00:40:08
999   2021-01-01 00:40:08
Name: tpep_dropoff_datetime, Length: 1000, dtype: datetime64[ns]

In [9]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python -m pip install --upgrade pip

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
engine.connect()

In [23]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 9.3 MB/s eta 0:00:00[36m0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (pyproject.toml) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp310-cp310-linux_x86_64.whl size=584146 sha256=c8a4ff4f2d8b1b6d8e8990d1273d27c859ca10527f115d295d010873839cd1b1
  Stored in directory: /home/codespace/.cache/pip/wheels/7d/75/13/da1c6d88687ae81bf5e3cfa07d702981ba137963163472b050
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [13]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_date', con = engine))

CREATE TABLE yellow_taxi_date (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [29]:
df = next(df_iter)

In [31]:
len(df)

100000

In [34]:
df.head(n=0).to_sql(con = engine, name = 'yellow_taxi_date', if_exists = 'replace')

0

In [46]:
df.to_sql(con = engine, name = 'yellow_taxi_date', if_exists = 'append')

1000

In [20]:
from time import time

In [37]:
df.head(n=0).to_sql(con = engine, name = 'yellow_taxi_date', if_exists = 'replace')

df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, dtype={"RatecodeID": "string"}, chunksize = 100000)

while True:

    t_start = time()
    
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(con = engine, name = 'yellow_taxi_date', if_exists = 'append')

    t_end = time()

    print("inserted another chunk..., took %.3f second" % (t_end - t_start))

inserted another chunk..., took 8.959 second
inserted another chunk..., took 9.305 second
inserted another chunk..., took 9.309 second
inserted another chunk..., took 9.069 second
inserted another chunk..., took 8.989 second
inserted another chunk..., took 9.222 second
inserted another chunk..., took 9.311 second
inserted another chunk..., took 9.319 second
inserted another chunk..., took 9.434 second
inserted another chunk..., took 9.719 second
inserted another chunk..., took 9.157 second
inserted another chunk..., took 9.360 second

/tmp/ipykernel_2144/2218696579.py:9: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 8.978 second
inserted another chunk..., took 5.845 second

StopIteration:

In [38]:
df_check = pd.read_csv('yellow_tripdata_2021-01.csv.gz')

df_check.shape

/tmp/ipykernel_2144/1702626815.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_check = pd.read_csv('yellow_tripdata_2021-01.csv.gz')

(1369765, 18)

In [39]:
print(1)

1